<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress HtmlUnknownTag -->
<html xmlns="http://www.w3.org/1999/html" lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>二级评分表</title>
    <style type="text/css">
        .entranceEducationDialog-content {
          box-sizing: border-box;
          width: 800px;
          min-height: 80vh;
          margin: 0px auto;
          background-color: rgb(255, 255, 255);
          padding: 50px 70px 10px;
        }

        .tabtop13 th {
          font-size: 12px;
        }

        .tabtop13 td {
          background-color: #FFFFFF;
          font-size: 12px;
        }


        .btbg {
          background: #FFFFFF !important;
          text-align: center;
        }

        .tables {
          border: 1px solid #000;
          padding: 3px;
        }

        .topborder {
          border-top: 1px solid #000;
        }

        .leftborder {
          border-left: 1px solid #000;
        }

        .bottomborder {
          border-bottom: 1px solid #000;
        }

        .rightborder {
          border-right: 1px solid #000;
        }

        .foot {
          height: 60px;
          line-height: 60px;
          text-align: right;
        }
    </style>
</head>

<body style="background-color: #eff3f9;">
<div class="entranceEducationDialog-content">
    <!-- 表头信息 colspan="3" 横向合并  rowspan="2" 纵向合并-->
    <!-- 边框线 border="0" 虚线 border="none" 不显示 -->
    <div class="title" style="height: 86px; display: flex; justify-content: space-between">
        <div class="title-QR" style="width: 90px">
            <!--            <img :src="aggregationRecordSheet.logo" alt="" style="max-width: 250px;">-->
            <img width="100%" height="60" src="https://ek02.oss-cn-qingdao.aliyuncs.com/微信图片_20240125105054.png">
        </div>

        <div class="title-text" style="flex: 1; text-align: center; color: #000">
            <div style="color: #333333; font-size: 18px; margin-bottom: 7px; padding-top: 20px; letter-spacing: 2px;">
                <!-- 医院名称 -->
                <span>易科医信附属第一医院</span>
            </div>
            <div style=" font-size: 20px; font-weight: bold; font-stretch: normal; letter-spacing: 1px;">
                <!-- 标题 -->
                <span>教学查房记录表</span>
            </div>
        </div>
        <div class="title-QR" style="width: 60px; padding-top: 20px">
            <!--            <img :src="aggregationRecordSheet.qr" alt="" style="max-width: 250px;">-->
            <img width="100%" height="60" src="https://oss.lcsxs.com/shandong/jinan/ykyxfstasrmyy/icon1732086712610.png">
        </div>
    </div>

    <!-- 评分内容信息 -->
    <div class="tables">
        <table width="100%" border="1" bgcolor="#cccccc" class="tabtop13" align="center"
               style="border-collapse: collapse; border: 1px solid #000;">

            <tr height="46">
                <th class="btbg" width="11%">主题</th>
                <td width="89%">1</td>
            </tr>

        </table>
        <table width="100%" bgcolor="#cccccc" class="tabtop13" align="center"
               style="border-collapse: collapse; border: none;">
            <tr height="46">
                <th width="11%" class="btbg leftborder rightborder bottomborder">主持教师</th>
                <td width="21%" class="rightborder bottomborder">杜绝</td>
                <th width="13%" class="btbg rightborder bottomborder">职称</th>
                <td width="21%" class="rightborder bottomborder">教授</td>
                <th width="13%" class="btbg rightborder bottomborder">科室</th>
                <td width="21%" class="rightborder bottomborder">重症2</td>
            </tr>
        </table>
        <table width="100%" bgcolor="#cccccc" class="tabtop13" align="center"
               style="border-collapse: collapse; border: none;">
            <tr height="46">
                <th width="11%" class="btbg leftborder rightborder bottomborder">教研室/基地</th>
                <td width="21%" class="rightborder bottomborder">默认住培基地,默认教研室</td>
                <th width="13%" class="btbg rightborder bottomborder">任务时间</th>
                <td width="57%" class="rightborder bottomborder">2024-12-12 星期四 00:00</td>

            </tr>
        </table>
        <table width="100%" bgcolor="#cccccc" class="tabtop13" align="center"
               style="border-collapse: collapse; border: none;">
            <tr height="46">
                <th width="11%" class="btbg leftborder rightborder bottomborder">教学病种</th>
                <td width="89%" class="rightborder bottomborder">1</td>
            </tr>
        </table>
        <table width="100%" bgcolor="#cccccc" class="tabtop13" align="center"
               style="border-collapse: collapse; border: none;">
            <tr height="60">
                <th width="11%" class="btbg leftborder rightborder bottomborder">参加人员</th>
                <td width="89%" class="rightborder bottomborder">保涛,杜绝,苏冠冠</td>
            </tr>
        </table>
        <table width="100%" bgcolor="#cccccc" class="tabtop13" align="center"
               style="border-collapse: collapse; border: none;">
            <tr height="360">
                <th width="11%" class="btbg leftborder rightborder bottomborder">记录内容</th>
                <!--                <td th:text="${aggregationRecordSheet.recordContent}" width="89%" class="rightborder bottomborder">-->
                <td width="89%" class="rightborder bottomborder">
                    <!-- 记录内容——文字记录 -->
                    <div>
                        <!-- 标题 -->
                        <span>目的/目标</span>
                        <!-- 内容 -->
                        <p>测试目的</p>
                    </div>
                    <div>
                        <!-- 标题 -->
                        <span>重点与难点</span>
                        <!-- 内容 -->
                        <p>测试重点难点</p>
                    </div>
                    <div>
                        <!-- 标题 -->
                        <span>师生互动(主要包括学生提问、教师答疑等内容)</span>
                        <!-- 内容 -->
                        <p>老师问：1学生答：2</p>
                    </div>
                    <div>
                        <!-- 标题 -->
                        <span>学生掌握知识和能力的薄弱环节</span>
                        <!-- 内容 -->
                        <p>测试薄弱</p>
                    </div>
                    <!-- 记录内容——图片记录 -->
                    <div style="font-size: 12px; display: flex; flex-wrap: wrap">
                        <div style="
                            max-height: 120px;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            text-align: center;
                            overflow: hidden;">
                            <img src="https://oss.lcsxs.com/hebei/shijiazhuang/ykyxfsdyyy/17355515489282d8d21ec9716bd952d595d22fd06e5a6.png" alt="" style="max-width: 85px; height: 100px; margin-right: 2px"/>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table width="100%" bgcolor="#cccccc" class="tabtop13" align="center"
               style="border-collapse: collapse; border: none;">
            <tr height="100">
                <th width="11%" class="btbg leftborder rightborder bottomborder">现场照片</th>
                <!--                <td th:text="${aggregationRecordSheet.scenePhoto}" width="89%" class="rightborder bottomborder">-->
                <!-- 使用 th:each 来遍历图片链接 -->
                <td width="89%" class="rightborder bottomborder">
                    <!--                    <div th:each="photo : ${aggregationRecordSheet.scenePhotoList}">-->
                    <!--                        <img th:src="${photo}" style="width: 20%; max-height: auto;"/>-->
                    <!--                    </div>-->

                    <!-- 添加判断确保列表不为空 -->
                    <div>
                        <!-- 添加 alt 属性并使用 @{} 语法处理URL -->
                        <img src="https://oss.lcsxs.com/hebei/shijiazhuang/ykyxfsdyyy/1735551553843ada245a4a10dedcfb1685d9067317785.png"
                             alt="现场照片"
                             style="width: 20%; max-height: auto; margin: 5px;"/>
                    </div>
                    
                </td>
            </tr>
        </table>

        <table width="100%" bgcolor="#cccccc" class="tabtop13" align="center"
               style="border-collapse: collapse; border: none;">
            <tr height="36">
                <th width="11%" class="btbg leftborder rightborder bottomborder">记录人员</th>
                <td width="39%" class="rightborder bottomborder">苏冠冠</td>
                <th width="11%" class="btbg  rightborder bottomborder">记录时间</th>
                <td width="39%" class="rightborder bottomborder">2024-12-31 10:50</td>
            </tr>
        </table>

    </div>
    <!-- 打印时间 -->
    <div class="foot" style="height: 60px; line-height: 60px; color: #000; text-align: right">
        <span>打印时间：</span>
        <span>2025-01-02 13:47:04</span>
    </div>
</div>

</body>

</html>